[submodule "host/dotnet"]
	path = host/dotnet
	url = https://github.com/amiasea/enterprise-host-dotnet.git
[submodule "core"]
	path = api/core
	url = https://github.com/amiasea/enterprise-core-api.git
[submodule "ui/react"]
	path = ui/react
	url = https://github.com/amiasea/enterprise-ui-react.git
  branch = .
[submodule "ui/blazor"]
	path = ui/blazor
	url = https://github.com/amiasea/enterprise-ui-blazor.git
  branch = .